{% extends 'home/base.html' %}

{% block content %}    
<div class="container opciones_fondo"> 
    <div class="row opciones">
        {% if user.details.tipo_usuario == 'A' %}
        <div class="col-md-5 home_opcion m-3 mx-auto opcion1"> 
            <i class="bi bi-people icono"></i>
            <a href="{% url 'usuarios' %}" class="opcion_link">Usuarios</a>
        </div>   
        <div class="col-md-5 home_opcion m-3 mx-auto opcion2"> 
            <i class="bi bi-building icono"></i>
            <a href="/admin/manage_models/marca/" class="opcion_link">Marcas</a>
        </div>   
        <div class="col-md-5 home_opcion m-3 mx-auto opcion2">  
            <i class="bi bi-person icono"></i>   
            <a href="{% url 'clientes' %}" class="opcion_link">Clientes</a>
        </div>  
        {% endif %} 
        <div class="col-md-5 home_opcion m-3 mx-auto opcion1"> 
            <i class="bi bi-archive icono"></i>
            <a href="{% url 'cajas' %}" class="opcion_link">Cajas</a>
        </div>   
        <div class="col-md-5 home_opcion m-3 mx-auto opcion2"> 
            <i class="bi bi-coin icono"></i>
            <a href="#" class="opcion_link">Reportes de venta</a>
        </div>   
    </div>
</div>
{% endblock %}