{% extends 'home/base.html' %}
{% load static %}

{% block content %}
<div class="usuarios_maincontainer container">
    <h2 class="usuarios_titulo">| Clientes</h2>
    <hr>
    <input type="text" id="buscar_nombre_input" placeholder="nombre" class="barra_busqueda">
    <button id="buscar_nombre" class="btn buscar_boton"><i class="bi bi-search"></i></button>

    <input type="text" id="buscar_apellidos_input" placeholder="apellidos" class="barra_busqueda">
    <button id="buscar_apellidos" class="btn buscar_boton"><i class="bi bi-search"></i></button>


    <input type="text" id="buscar_email_input" placeholder="email" class="barra_busqueda">
    <button id="buscar_email" class="btn buscar_boton"><i class="bi bi-search"></i></button>

    <input type="text" id="buscar_telefono_input" placeholder="telefono" class="barra_busqueda">
    <button id="buscar_telefono" class="btn buscar_boton"><i class="bi bi-search"></i></button>

    <input type="text" id="buscar_rfc_input" placeholder="rfc" class="barra_busqueda">
    <button id="buscar_rfc" class="btn buscar_boton"><i class="bi bi-search"></i></button>

    <input type="text" id="buscar_razon_input" placeholder="razon social" class="barra_busqueda">
    <button id="buscar_razon" class="btn buscar_boton"><i class="bi bi-search"></i></button>

    <input type="text" id="buscar_domicilio_input" placeholder="domicilio" class="barra_busqueda">
    <button id="buscar_domicilio" class="btn buscar_boton"><i class="bi bi-search"></i></button>
    <table class="table table-hover tabla">
        <thead> 
            <tr>
                <th>
                    <p class="usuarios_espaciado"><strong>Nombre</strong></p>
                </th>
                <th>
                    <p class="usuarios_espaciado"><strong>Apellidos</strong></p>
                </th>
                <th>
                    <p class="usuarios_espaciado"><strong>E-mail</strong></p>
                </th>
                <th>
                    <p class="usuarios_espaciado"><strong>Teléfono</strong></p>
                </th>
                <th>
                    <p class="usuarios_espaciado"><strong>RFC</strong></p>
                </th>
                <th>
                    <p class="usuarios_espaciado"><strong>Razon social</strong></p>
                </th>
                <th>
                    <p class="usuarios_espaciado"><strong>Domicilio</strong></p>
                </th>
            </tr>
        </thead>
        <tbody id="tabla_clientes">
            {% for cliente in clientes %}
            <tr>
                <td>
                    <p class="usuarios_tablecontent usuarios_espaciado">{{cliente.nombre}}</p>
                </td>
                <td>
                    <p class="usuarios_tablecontent usuarios_espaciado">{{cliente.apellido}}</p>
                </td>
                <td>
                    <p class="usuarios_tablecontent usuarios_espaciado">{{cliente.correo_electronico}}</p>
                </td>
                <td>
                    <p class="usuarios_tablecontent usuarios_espaciado">{{cliente.telefono}}</p>
                </td>
                <td >
                    <p class="usuarios_tablecontent usuarios_espaciado">{{cliente.rfc}}</p>
                </td>
                <td >
                    <p class="usuarios_tablecontent usuarios_espaciado">{{cliente.razon_social}}</p>
                </td>
                <td >
                    <p class="usuarios_tablecontent usuarios_espaciado">{{cliente.domicilio}}</p>
                </td>
                <td >
                    <a href="{% url 'borrar_cliente' pk=cliente.pk %}" class="deleteuser"><i class="bi bi-x user_butonicon"></i></a>
                </td>
                <td >
                    <a href="{% url 'editar_cliente' pk=cliente.pk %}" class="deleteuser"><i class="bi bi-pencil-fill user_butonicon"></i></i></a>
                </td>
            </tr>
            {%endfor%}
        </tbody> 
    </table>
    <hr>
    <a href="{% url 'registrar_cliente' %}" class="link_registrar_usuario">Registrar nuevo cliente</a>
</div>

<script src="{% static '/table_clients.js' %}"></script>
{% endblock %}