{% extends 'home/base.html' %}
{% load static %}

{% block content %}
<div class="usuarios_maincontainer container">
    <h2 class="usuarios_titulo">| Usuarios</h2>
    <hr>
    <input type="text" id="buscar_nombre_input" placeholder="nombre" class="barra_busqueda">
    <button id="buscar_nombre" class="btn buscar_boton"><i class="bi bi-search"></i></button>

    <input type="text" id="buscar_apellidos_input" placeholder="apellidos" class="barra_busqueda">
    <button id="buscar_apellidos" class="btn buscar_boton"><i class="bi bi-search"></i></button> 

    <input type="text" id="buscar_email_input" placeholder="e-mail" class="barra_busqueda">
    <button id="buscar_email" class="btn buscar_boton"><i class="bi bi-search"></i></button> 

    <input type="text" id="buscar_telefono_input" placeholder="telefono" class="barra_busqueda">
    <button id="buscar_telefono" class="btn buscar_boton"><i class="bi bi-search"></i></button> 

    <select name="tipos" id="buscar_tipo_input">
        <option value="">-------</option>
        <option value="A">ADMINISTRADOR</option>
        <option value="V">VENDEDOR</option>
    </select>
    <button id="buscar_tipo" class="btn buscar_boton"><i class="bi bi-search"></i></button> 
    <table class="table table-hover tabla">
        <thead> 
            <tr>
                <th>
                    <p class="usuarios_espaciado">Nombre</p>
                </th>
                <th>
                    <p class="usuarios_espaciado">Apellidos</p>
                </th>
                <th>
                    <p class="usuarios_espaciado">E-mail</strong></p>
                </th>
                <th>
                    <p class="usuarios_espaciado">Teléfono</p>
                </th>
                <th>
                    <p class="usuarios_espaciado">Tipo</p>
                </th>
                <th>
                    <p class="usuarios_espaciado"></p>
                </th>
                <th>
                    <p class="usuarios_espaciado"></p>
                </th>
            </tr>
        </thead>
        <tbody id="tabla_usuarios">
            {% for usuario in usuarios %}
            <tr>
                <td>
                    <p class="usuarios_tablecontent usuarios_espaciado">{{usuario.first_name}}</p>
                </td>
                <td>
                    <p class="usuarios_tablecontent usuarios_espaciado">{{usuario.last_name}}</p>
                </td>
                <td>
                    <p class="usuarios_tablecontent usuarios_espaciado">{{usuario.email}}</p>
                </td>
                <td>
                    <p class="usuarios_tablecontent usuarios_espaciado">{{usuario.details.telefono}}</p>
                </td>
                <td >
                    <p class="usuarios_tablecontent usuarios_espaciado">{{usuario.details.get_tipo_usuario_display}}</p>
                </td>
                <td >
                    <a href="{% url 'borrar_usuario' pk=usuario.pk %}" class="deleteuser"><i class="bi bi-x user_butonicon"></i></a>
                </td>
                <td >
                    <a href="{% url 'editar_usuario' pk=usuario.pk %}" class="deleteuser"><i class="bi bi-pencil-fill user_butonicon"></i></i></a>
                </td>
            </tr>
            {%endfor%}
        </tbody> 
    </table>
    <a href="{% url 'registrar_usuario' %}" class="link_registrar_usuario">Registrar nuevo usuario</a>
</div>

<script src="{% static '/table_users.js' %}"></script>
{% endblock %}